# Global ignores
.vs/
bin/
obj/
*.user
*.userprefs
*.suo
*.exe
*.dll
*.pidb
*.swp
*.cache
*.bak
*.tmp
*.log
*.vscode/
node_modules/
WebAPI/appsettings.Development.json
CodeFirst/appsettings.json
.vs/
*.vsidx

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CodeFirst.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.vs/
*.vsidx
